
     <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
 
</head>

<body>
  	<!-- 
				条件渲染：
							1.v-if
										写法：
												(1).v-if="表达式" 
												(2).v-else-if="表达式"
												(3).v-else="表达式"
										适用于：切换频率较低的场景。
										特点：不展示的DOM元素直接被移除。
										注意：v-if可以和:v-else-if、v-else一起使用，但要求结构不能被“打断”。

							2.v-show
										写法：v-show="表达式"
										适用于：切换频率较高的场景。
										特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉
								
							3.备注：使用v-if的时，元素可能无法获取到，而使用v-show一定可以获取到。
		 -->
  <div id="app">
  <h2>当前使用的值是{{n}}</h2>
  <button @click="n++">+1</button>
  <h2 v-show="n==1">北京欢迎您！v-show</h2>
  <h2 v-if="n==2">北京欢迎您！v-if</h2>
  <h2 v-else-if="n==3">北京欢迎您！v-else-if</h2>
  <h2 v-else>北京欢迎您！v-else</h2>
  <!-- template不会影响页面布局，但是只能配合v-if使用 -->
  <template v-if="n==4">
    <h2>1</h2>
    <h2>2</h2>
    <h2>3</h2>
  </template>
  </div>
</body>
<script>
  Vue.config.productionTip = false;//阻止vue启动时生成提示
  const vm = new Vue({
    data: {
    a:false,
    b:false,
    n:0
    },
   
  })
  vm.$mount('#app');
</script>

</html>